In [2]:
#importing required libraries for the project
import pandas as pd 
from sklearn.model_selection import train_test_split

from sklearn.ensemble import RandomForestClassifier

In [3]:
data=pd.read_csv("Crop_recommendation.csv") #loading the dataset

In [4]:
data.head() #getting the first 5 rows

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
#getting shape by row and column
data.shape

(2200, 8)

In [6]:
#Pre-processing
data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [7]:
#splitting the features and labels
x=data.iloc[:,:-1] #features
y=data.iloc[:,-1] #labels

In [8]:
x

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [9]:
# Split the data into training and testing sets
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [10]:
X_train.head()

        N   P   K  temperature   humidity        ph    rainfall
1656   17  16  14    16.396243  92.181519  6.625539  102.944161
752    37  79  19    27.543848  69.347863  7.143943   69.408782
892     7  73  25    27.521856  63.132153  7.288057   45.208411
1041  101  70  48    25.360592  75.031933  6.012697  116.553145
1179    0  17  30    35.474783  47.972305  6.279134   97.790725

In [11]:
y_train.head()

1656       orange
752     blackgram
892        lentil
1041       banana
1179        mango
Name: label, dtype: object

In [12]:
#creating the model
model=RandomForestClassifier()

In [13]:
# Train the model
model.fit(X_train,y_train)

RandomForestClassifier()

In [14]:
# Make predictions on test data
predictions=model.predict(X_test)

In [15]:
# Evaluate the model
accuracy=model.score(X_test,y_test)

In [16]:
print("Accuracy",accuracy)

Accuracy 0.9931818181818182

In [17]:
# Example usage: Predict crop for a new set of features
new_features = [[36,58,25,28.66024,59.3189136,8.399136,36.9263]]
predicted_crop=model.predict(new_features)
print("Predicted Crop:" ,predicted_crop)

Predicted Crop: ['mothbeans']

f:\Anaconda\envs\daks\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [19]:
import pickle

pickle.dump(model, open("crop_prediction_model.pkl", "wb"))